body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  overflow: hidden;
  padding-left: 50px;
}

#main-header {
  background-color: yellow;
  padding: 5px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: bold;
}

#nav-bar {
  background-color: black;
  column-rule-color: white;
}

nav a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}

nav li {
  display: inline;
}

nav ul {
  list-style: none;
  padding: 0px;
}

#intro-section {
  background-image: url(../images/intro.jpg);
  background-position: center;
  min-height: 300px;
  margin-bottom: 30px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: auto;
}

#main-section {
  background-color: rgb(201, 201, 195);
}

#main-footer {
  background-color: black;
  color: white;
}

#main-section a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

footer ul {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
}
